In [2]:
import pandas
import numpy as np
pandas.__version__

'1.5.3'

In [3]:
csv_data = pandas.read_csv('data/admissions.csv')
csv_data.head()

,Unnamed: 0,adm_icu,adm_time_icu,dis_date_icu,dis_time_icu,plan_adm,ref_spec
0,1,2015-01-01 07:36:00,0.316667,2015-01-02 16:43:00,0.696528,0.0,12
1,2,2015-01-01 14:23:59,0.600000,2015-01-01 19:47:00,0.824306,0.0,41
2,3,2015-01-01 20:30:59,0.854861,2015-01-02 19:09:59,0.798611,0.0,7
3,4,2015-01-02 12:56:00,0.538889,2015-01-03 11:32:00,0.480556,1.0,29
4,5,2015-01-02 13:12:00,0.550000,2015-01-03 10:02:59,0.418750,0.0,12

In [4]:
# value counts

all_specialisms = csv_data['ref_spec']
unique_spec = all_specialisms.value_counts()
unique_spec.head()

50    999
2     825
9     562
21    501
29    478
Name: ref_spec, dtype: int64

In [4]:
csv_data['ref_spec'] = csv_data['ref_spec'].map(
    {
        12:'NEC',
        2:'INT',
        4:'INT',
        7:'INT',
        41:'INT',
        47:'INT',
        3:'CARD',
        9:'CHIR',
        10:'CHIR',
        11:'CHIR',
        13:'CHIR',
        39:'CHIR',
        15:'OTHER',
        18:'OTHER',
        19:'OTHER',
        20:'OTHER',
        23:'OTHER',
        36:'OTHER',
        48:'OTHER',
        98:'OTHER',
        21:'NEU',
        29:'NAPU',
        50:'CAPU',
    }
)

csv_data.head()

,Unnamed: 0,adm_icu,adm_time_icu,dis_date_icu,dis_time_icu,plan_adm,ref_spec
0,1,2015-01-01 07:36:00,0.316667,2015-01-02 16:43:00,0.696528,0.0,NEC
1,2,2015-01-01 14:23:59,0.600000,2015-01-01 19:47:00,0.824306,0.0,INT
2,3,2015-01-01 20:30:59,0.854861,2015-01-02 19:09:59,0.798611,0.0,INT
3,4,2015-01-02 12:56:00,0.538889,2015-01-03 11:32:00,0.480556,1.0,NAPU
4,5,2015-01-02 13:12:00,0.550000,2015-01-03 10:02:59,0.418750,0.0,NEC

In [5]:
# value counts

all_specialisms = csv_data['ref_spec']
unique_spec = all_specialisms.value_counts()
print(unique_spec)

INT      1134
CAPU      999
CHIR      637
NEU       501
NAPU      478
NEC       379
CARD      349
OTHER      58
Name: ref_spec, dtype: int64